<%
    var images = [
        {
            "imgsrc" : "pic1.jpg",
            "title" : "병원 내부 사진",
            "content" : "병원 내부 사진입니다."
        },{
            "imgsrc" : "pic2.jpg",
            "title" : "병원 내부 사진2",
            "content" : "병원 내부 사진2 입니다."
        },{
            "imgsrc" : "pic3.jpg",
            "title" : "병원장",
            "content" : "김득회 병원장의 사진입니다"
        }
    ]
%>

<%- include('../include/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/mng.css" />
<section>
    <div id="info_content" class="row mt-4 pl-2">
        <%- include('../include/menubar.ejs') %>
        <div id="content" class="col text-center">
            <h1 id="content_header">병원 갤러리</h1>
            <div class="row row-cols-1 row-cols-md-2">
                <%for(key in images){%>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="/images/<%=images[key].imgsrc%>" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title"><%=images[key].title%></h5>
                                <p class="card-text"><%=images[key].content%></p>
                            </div>
                        </div>
                    </div>
                <%}%>
        </div>
    </div>
</section>
<%- include('../include/footer.ejs') %>

<style>
    .card img{
        width:100%;
        height:500px;
    }
</style>